body {
    background-image: url("kuvat/city3.jpg");
    max-width: 100%;
}

canvas {
    
    margin: auto;
    /*border:1px solid #000000;*/
    margin-top: 50px;
}

.center {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    max-width: 30%;
    padding: 10px;
    border: 3px inset #5f1b1b;
    text-align: center;
    background-color: white;
            
}

select {
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.button {
    border: 1px solid #000000;
    border-radius: 10%;
}

.valittu {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px inset #5f1b1b;
}

.valittu img {
    max-width: 250px;
    max-height: 200px;
    margin-bottom: 10px;
}

.valittu span {
    margin-bottom: 10px;
    font-weight: bolder;
}