.App {
  text-align: center;
}

.dotless {
  list-style-type: none;
}

.dots {
  list-style-type: circle;
}

.flag {
  display: flex;
  margin: auto;
  width: 25%;
  border: 0.75px solid rgb(187, 187, 187);
  box-shadow: 0.25px 0.25px rgb(125, 125, 125);
}

.weather-icon {
  background-color: rgb(185, 185, 185);
  border-radius: 50%;
  border: 0.75px solid rgb(187, 187, 187);
  box-shadow: 0.25px 0.25px rgb(125, 125, 125);
}